@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: theme('fontFamily.sans');
    color: theme('colors.brand.900');
    background-color: theme('colors.brand.50');
    font-feature-settings: 'liga' 1, 'calt' 1;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    margin: 0;
    min-height: 100vh;
    background-color: theme('colors.brand.50');
    background-image: linear-gradient(135deg, theme('colors.brand.50'), theme('colors.brand.100'));
  }
}
